{% extends "templates/web.html" %}

{% block page_content %}
<h1>{{ title }}</h1>
<h2>Flight Details</h2>
<ul>
    <li>Airline: {{doc.airplane.rsplit('-', 1)[0]}}</li>
    <li>{{ doc.source_airport_code }} -> {{ doc.destination_airport_code }}</li>
    <li>{{ doc.date_of_departure }} | {{ doc.time_of_departure }}</li>
    <li>Duration: {{ frappe.utils.format_duration(doc.duration) }}</li>
</ul>
<a href="/book-flight-ticket-web-form/new?flight={{title}}&&flight_price=10000" class="btn btn-primary" style="padding: 10px 30px;">Book Flight</a>
{% endblock %}

<!-- this is a sample default web page template -->